:root{
  /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

/* Size */
    --topBottom-margin: 10px;
    --side-margin: 20px;
    --toDo-side-margin: 20%;
    --side-padding: 12px;
    --icon-size: 16px;
    --avator-size: 36px;

/* Font Size */
    --font-large: 30px;
    --font-medium: 25px;
    --font-small: 20px;
    --font-micro: 18px;
    --font-clock: 80px;  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Roboto; */
  font-size: var(--font-large);
  color : var(--white-color); -webkit-text-stroke: 1px var(--grey-dark-color); font-weight: bold;
}

.weather{
  text-align: right;
  margin-top: var(--topBottom-margin);
  margin-right: var(--side-margin);
  font-size: var(--font-small)
}

.mainContainer{
  text-align: center;
  vertical-align: middle;
  margin-top:240px;
}

.clock{
  font-size: var(--font-clock);
  margin-bottom: 15px;
}

.loginInput{
  text-align: center;
  width: 250px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--blue-color) solid;
  background-color: rgba( 0,0,0, 0.3);
  
  color : var(--grey-light-color); -webkit-text-stroke: 1px var(--black-color); font-weight: bold;
  font-size: var(--font-medium);
}

.loginInput::placeholder{
  color : var(--grey-light-color); -webkit-text-stroke: 1px var(--black-color); font-weight: bold;
  font-size: var(--font-small);
  font-style: italic;
}

.changeName{
  position: absolute;
    height: 30px;
    top: var(--topBottom-margin);
    left: var(--side-margin);
  border: none;
  background-color: var(--white-color);
  opacity:0.4;
}

.toDoInput{
  text-align: center;
  width: 250px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--blue-color) solid;
  background-color: rgba( 0,0,0, 0.6);
  
  color : var(--grey-light-color); -webkit-text-stroke: 1px var(--black-color); font-weight: bold;
  font-size: var(--font-medium);
}

.toDoInput::placeholder{
  color : var(--grey-light-color); -webkit-text-stroke: 1px var(--black-color); font-weight: bold;
  font-size: var(--font-small);
  font-style: italic;
}

.toDoShow li{
  margin-right: var(--toDo-side-margin);
  margin-left: var(--toDo-side-margin);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--black-color) solid;
}

.toDoShow button{
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
}

.quotes{
  font-size: var(--font-micro);
  text-align:center;
  position:absolute;
    width:1000px;
    height:30px;
    background:transparent;
    bottom:30px;
    right:25%;
    left:50%;
    margin-left:-500px;
}

.hidden{
  display: none;
}